Repository NVIDIA/Megatron-LM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NVIDIA/core-adlr, @NVIDIA/core-nemo, @NVIDIA/gpt, @NVIDIA/multi-modal, @NVIDIA/hybrid-mamba, @NVIDIA/datasets, @NVIDIA/megatron-fsdp, @NVIDIA/dist-checkpointing, @NVIDIA/dist-optimizer, @NVIDIA/quantization-and-inference, @NVIDIA/pipeline-parallelism, @NVIDIA/core-devtech, @NVIDIA/inference, @NVIDIA/post-training, @NVIDIA/ci, @NVIDIA/reinforcement-learning

minor fixes
  megatron/core/transformer/utils.py
  megatron/core/utils.py
  tests/unit_tests/dist_checkpointing/models/test_moe_experts.py
Owners: @NVIDIA/core-adlr, @NVIDIA/core-nemo, @NVIDIA/ci

Address comments
  megatron/core/ssm/mamba_block.py
  megatron/core/ssm/mamba_mixer.py
Owners: @NVIDIA/core-adlr, @NVIDIA/core-nemo

pipeline parallel layout repr return str
  megatron/core/transformer/pipeline_parallel_layer_layout.py
  tests/unit_tests/transformer/test_transformer_block.py
Owners: @NVIDIA/core-adlr, @NVIDIA/core-nemo, @NVIDIA/ci

lint
  tests/unit_tests/transformer/test_transformer_block.py
Owners: @NVIDIA/ci

lint
  tests/unit_tests/transformer/test_transformer_block.py
Owners: @NVIDIA/ci

pre-commit
  tests/unit_tests/transformer/test_transformer_block.py
Owners: @NVIDIA/ci

cp: `Megatron-FSDP Expert Parallel (DeepSeek-v3) Support` into `dev` (#2007)
  megatron/core/distributed/fsdp/mcore_fsdp_adapter.py
  megatron/core/distributed/fsdp/src/README.md
  megatron/core/distributed/fsdp/src/megatron_fsdp/fully_shard.py
  megatron/core/distributed/fsdp/src/megatron_fsdp/megatron_fsdp.py
  megatron/core/distributed/fsdp/src/megatron_fsdp/param_and_grad_buffer.py
  megatron/core/distributed/fsdp/src/megatron_fsdp/uneven_dtensor.py
  megatron/core/distributed/fsdp/src/megatron_fsdp/utils.py
  megatron/core/models/common/embeddings/yarn_rotary_pos_embedding.py
  megatron/core/optimizer/__init__.py
  megatron/core/optimizer/distrib_optimizer.py
  megatron/core/transformer/fsdp_dtensor_checkpoint.py
  megatron/training/arguments.py
  megatron/training/checkpointing.py
  megatron/training/training.py
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_pp2_ep4_etp1_memory_speed/golden_values_dev_dgxh100_coreweave.json
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_pp2_ep4_etp1_mtp_resume_torch_dist_fp8/golden_values_dev_dgxh100_coreweave.json
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_pp2_ep4_etp1_mtp_resume_torch_dist_fp8/golden_values_dev_dgxh100_eos.json
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_pp2_ep4_etp1_resume_torch_dist_attn_cudagraph/golden_values_dev_dgxh100_coreweave.json
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_zp_z3_resume_torch_dist_te_8experts2parallel_top2router/golden_values_dev_dgx_h100.json
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_zp_z3_resume_torch_dist_te_8experts2parallel_top2router/golden_values_dev_dgxh100_coreweave.json
  tests/functional_tests/test_cases/moe/gpt3_mcore_te_tp2_zp_z3_resume_torch_dist_te_8experts2parallel_top2router/model_config.yaml
  tests/functional_tests/test_cases/moe/gpt3_moe_mcore_te_tp2_pp2_ep4_etp1_fine_grained_offloading/golden_values_dev_dgxh100_coreweave.json
  tests/functional_tests/test_cases/moe/gpt3_moe_mcore_te_tp2_pp2_ep4_etp1_fine_grained_offloading/golden_values_dev_dgxh100_eos.json
  tests/test_utils/recipes/moe.yaml
  tools/checkpoint/checkpoint_inspector.py
Owners: @NVIDIA/megatron-fsdp, @NVIDIA/core-adlr, @NVIDIA/core-nemo, @NVIDIA/ci

make final commit for training and conversion
  mamba_builders.py
  megatron/core/ssm/mamba_block.py
  megatron/core/ssm/parallel_hybrid_layer.py
  megatron/training/checkpointing.py
  tools/checkpoint/convert.py
  tools/checkpoint/loader_base.py
  tools/checkpoint/saver_parallelhybrid_hf.py
  tools/checkpoint/schema_core.py
Owners: @NVIDIA/core-adlr, @NVIDIA/core-nemo

.github/CODEOWNERS:

megatron/core/ @NVIDIA/core-adlr @NVIDIA/core-nemo

megatron/core/models/gpt/ @NVIDIA/gpt

megatron/core/models/multimodal/ @NVIDIA/multi-modal

megatron/core/models/mamba/ @NVIDIA/hybrid-mamba

megatron/core/datasets/ @NVIDIA/datasets

megatron/core/distributed/fsdp/ @NVIDIA/megatron-fsdp

megatron/core/transformer/fsdp_dtensor_checkpoint.py @NVIDIA/megatron-fsdp

megatron/core/dist_checkpointing/ @NVIDIA/dist-checkpointing

megatron/core/optimizer/distrib_optimizer/ @NVIDIA/dist-optimizer

megatron/core/inference/modelopt_support @NVIDIA/quantization-and-inference

megatron/core/datasets/ @NVIDIA/datasets

megatron/core/pipeline_parallel/ @NVIDIA/pipeline-parallelism

megatron/core/transformer/ @NVIDIA/core-adlr @NVIDIA/core-nemo

megatron/core/transformer/moe/ @NVIDIA/core-adlr @NVIDIA/core-devtech

megatron/core/inference/ @NVIDIA/inference

megatron/core/parallel_state.py @NVIDIA/core-nemo

megatron/core/post_training/ @NVIDIA/post-training

megatron/post_training/ @NVIDIA/post-training

.gitlab/ @NVIDIA/ci
.github/ @NVIDIA/ci
.gitlab-ci.yml @NVIDIA/ci
docker/  @NVIDIA/ci
tests/unit_tests/run_ci_test.sh @NVIDIA/ci
tests/test_utils/python_scripts/ 
tests/functional_tests/python_test_utils/ @NVIDIA/ci
tests/functional_tests/shell_test_utils/ @NVIDIA/ci
megatron/core/transformer/transformer_block.py @NVIDIA/ci
megatron/core/transformer/transformer_layer.py @NVIDIA/ci
tests/functional_tests/test_cases/ @NVIDIA/ci
tests/functional_tests/recipes/ @NVIDIA/ci
tests/unit_tests/ @NVIDIA/ci

megatron/rl/ @NVIDIA/reinforcement-learning
examples/rl/ @NVIDIA/reinforcement-learning
test/unit_tests/test_rl_utils.py @NVIDIA/reinforcement-learning
train_rl.py @NVIDIA/reinforcement-learning
